@import url('http://fonts.googleapis.com/css?family=Libre+Baskerville');

body {
  margin: 0;
}
.page-header {
  float: left;
  width: 1000px;
  margin-top: 10px;
}
.page-header img {
  width: 45%;
}
.post-content {
  width: 600px;
  display: inline;
  float: left;
  margin-left: 0px;
  margin-bottom: 40px;
}
.post-title h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 100;
  font-size: 20px;
  color: #3f3f3f;
  margin: 0 auto;
}
.post-title img{
  margin-bottom: 15px;
}
.post-content h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 100;
  font-size: 17px;
  color: #3f3f3f;
  margin-top: 25px;
}
.post-content p, ol, ul{
  font-family: 'Libre Baskerville', serif;
  font-size: 13px;
  line-height: 160%;
  font-weight: 100;
  color: #545454;
}
.post-content img {
  max-width: 100%;
}
.sidebar {
  color: #3f3f3f;
  font-family: 'Libre Baskerville', serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 160%;
  width: 150px;
  display: inline;
  float: left;
  margin-right: 100px;
  margin-left: 90px;
}

.copyright {
  font-size: 10px;
}

.sidebar h1 {
  font-size: 14px;
  font-weight: 100;
}
.sidebar img {
  padding-bottom: 10px;
  padding-top: 10px;
}
#container {
  margin: 0 auto;
  width: 1000px;
}
.footer {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  clear: both;
  color: #545454;
  margin-bottom: 25px;
  margin-left: 340px;
  width: 600px;
  text-align: left;
}
a:link {
    text-decoration: none;
    color: #1BBC9B;
}
a:visited {
    text-decoration: none;
    color: #1BBC9B;
}
/* mouse over link */
a:hover   {
    color: #019875;
}
/* selected link */
a:active  {
    color: #019875;
}
